body{
    background-color: #DEDFE1;
}
/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-bottom: solid grey 1px;
    background-color: white;
}

.header_text{
    font-weight: bold;
}

/* MAIN */

        /* INFO */
.main .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: 15px;
}

.main .info .btn_info{
    border-radius: 15px;
    background-color: #CCDEEC;
    font-size: 10px;
    opacity: 0.5;
}

        /* MOVIES */

.movie_banner img{
    width: 100px;
}
.movie_banner{
    margin: 10px;
    display: inline-block;
}
.movie1,.movie2,.movie3,.movie4{
    display: flex;
}
.movie_name{
    font-weight: bold;
    font-size: 13px;
    margin-top: 8px;
}

.icon_star{
    color: #F2CD00;
    font-size: small;
}
.movie_rating span{
    color: grey;
    opacity: 0.4;
    font-size: 12px;
}
.movie_genre{
    margin-top: 8px;
}
.movie_genre span{
border: 1px solid grey;
margin-left: 5px;
margin-right: 5px;
border-radius: 6px;
background-color: #52B7E9;
color: #242444;
font-size: 12px;
font-style: italic;
opacity: 0.5;
}

.icon_clock{
    font-size: small;
}

.movie_duration{
    margin-top: 8px;
}
.movie_duration span{
    font-size: 12px;
    margin-left: 5px;
}

        /* FOOTER */

.footer{
    border-top: 1px solid grey;
    background-color: white;
    height: 30px;
}
.footer_icon{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
